<!-- Page Title -->
{{#each user}}
<div class="text-body text-center mt-3 pt-2">
    <div class="card-header" style="width: 39%;">
        <h6 class="mt-1">Welcome {{dataValues.username}}</h6>
    </div>
</div>
<div class="row mt-2 text-center">
    <button type="submit" class="btn btn-dark mb-2 mr-1 ml-auto" id="update-password">Update Password</button>
    <button type="submit" class="btn delete-account btn-dark mb-2 ml-1 mr-auto" id="{{dataValues.id}}">Delete Account</button>
</div>
<div class="row">
    <div class="col-6">
        <div class="text-body text-center mt-3 pt-2">
            <div class="card-header" style="width: 75%">
                <h6 class="mt-1">Your Posts</h6>
            </div>
        </div>
        <!-- Container holds all posts -->
        <div class="container">
            {{#if Posts}}
            {{#each Posts}}
            <!-- Each post starts here -->
            <div class="row mb-4">
                <div class="card-group" style="width: 74%; margin-left: 20%;">
                    <div class="card">

                        <!--Title-->
                        <div class="desc-sm-1 pt-4 mb-2">
                            <h5 class="title text-center">{{dataValues.title}}</h5>
                        </div>
                        <button type="button" class="delete-something-button btn btn-danger mb-1 mx-auto"
                            id="posts/{{dataValues.id}}">Delete</button>


                        <!--Picture-->
                        <img class="clickit" src="../{{dataValues.image}}" alt="{{dataValues.id}}"
                            id="{{dataValues.id}}" style="width:100%" class="hover-shadow cursor">
                        <br>

                        {{#each Captions}}
                        <!-- Captions -->
                        <div class="row mx-1" style="width: 95%;">
                            <div class="col-11">
                                <div class="card-text border rounded bg-light mb-2 pt-3 px-2">
                                    <p class="ml-2">{{dataValues.text}}</p>
                                    <p class="card-text mb-1 text-right"><small class="text-muted">Captioner:
                                            {{dataValues.author}}</small>
                                </div>
                            </div>

                            <!-- Upvote image and number -->
                            <div class="col-1 px-0 my-auto">
                                <div class="row">
                                    <img src="../assets/sampleimg/upvote.png" alt="upvote" height="25px" width="25px"
                                        style="background: transparent;">
                                    <h5 class="text-right"> {{dataValues.noOfVotes}} </h5>
                                </div>
                            </div>
                        </div>
                        <!-- ^ Each caption ends ^-->
                        {{/each}}

                    </div>

                </div>

            </div>

            <!-- ^ Each post ends ^ -->
            {{/each}}
            {{/if}}
        </div>
    </div>


    <div class="col-6 border-left">

        <div class="text-body text-center mt-3 pt-2">
            <div class="card-header" style="width: 75%">
                <h6 class="mt-1">Your Captions</h6>
            </div>
        </div>

        <div class="container non-card bg-white px-auto mt-4" style="width: 75%;">
            {{#each Captions}}
            <!-- Captions -->
            <div class="row pt-2 mx-1" style="width: 95%;">
                <div class="col-11">
                    <div class="card-text border rounded bg-light mb-2 pt-3 px-2">
                        <p class="ml-2">{{dataValues.text}}</p>
                        <button type="button" class="delete-something-button btn btn-danger mb-1"
                            id="captions/{{dataValues.id}}">Delete</button>
                    </div>
                </div>

                <!-- Upvote image and number -->
                <div class="col-1 px-0 my-auto">
                    <div class="row">
                        <img src="../assets/sampleimg/upvote.png" alt="upvote" height="25px" width="25px"
                            style="background: transparent;">
                        <h5 class="text-right"> {{dataValues.noOfVotes}} </h5>
                    </div>
                </div>
            </div>
            <!-- ^ Each caption ends ^-->
            {{/each}}
        </div>

    </div>

</div>

{{/each}}
{{!-- ^ Each user ends ^ --}}

<script src="../assets/js/script.js"></script>