{{!-- <!-- Three columns down the length of the page --> --}}
{{!-- <!-- Left side for nav links like acccount, new post --> --}}
{{!-- <!-- Middle for main content like posts or forms --> --}}
{{!-- <!-- Right side for latest posts or the posts you've most recently voted on --> --}}

 
<div class="container-fluid">
  <div class="row mt-2">
    <!-- Left Column -->
    <div class="col-2 text-center mx-auto mt-3 position-fixed" style="z-index: 99;">
      {{!-- <!-- Search box - find a single post by its title or a list of posts by an author --> --}}
      <div class="text-center">
        <div class="mx-auto">
          <h5>Find posts:</h5>
        </div>
        {{!-- Gotta make this sidebar functional later, but for now the search button with go to the single posts with an ID of 1 --}}
        <form action="/posts/1" method="GET" class="form-inline">
          <div class="form-group mx-auto mb-2">
            <label for="searchContent" class="sr-only">Title or Author</label>
            <input type="text" class="form-control" id="searchContent" placeholder="Title or Author">
          </div>
          <button type="submit" class="btn btn-dark mb-2 mx-auto">Search</button>
        </form>
      </div>
      {{!-- <!-- Button to submit a new post --> --}}
      <div class="btn-group-vertical mt-5" role="group" aria-label="navs">
        <button type="button" onclick="location.href='newPost';" class="btn btn-dark" id="newpost-button">Submit a new post</button>
      </div>
    </div>
    {{!-- <!-- Making the left column scroll with the page creates some empty space, so this is a spacer div --> --}}
    <div class="col-2 border-right border-dark"></div>
    {{!-- <!-- Middle Column --> --}}
    <div class="col-8" style="padding-left: 10%; padding-right: 10%;">
      {{!-- <!-- Column Title --> --}}
      <h1 class="text-center my-2">Top Posts</h1>
      {{!-- <!-- ||||||||||||||||||||||||||||||||||||||||| Cards for posts ||||||||||||||||||||||||||||||||||||||||| --> --}}
      {{#each posts}}
      <div class="card bg-dark text-light my-3 px-1 py-1 clickable" id="{{dataValues.id}}">
        {{!-- <!-- Image for the post - change the src to dataValues.image --> --}}
        <img src="{{{dataValues.image}}}" class="card-img-top" id="test" alt="fake">
        <div class="card-body">
          {{!-- <!-- Title of the post --> --}}
          <h5 class="card-title">{{dataValues.title}}</h5>
          <h6 class="card-title"><i>Posted by: {{dataValues.author}}</i></h6>
          <form action="/newCaption" method="POST" class="form-inline">
                <button name="postid" type="submit" class="btn btn-light" value="{{{dataValues.id}}}">Submit Caption</button>
                </form>
          {{!-- <!-- Captions and votes go here --> --}}
          {{#each Captions}}
          <div class="row">
            {{!-- <!-- Upvote icon and upvotes --> --}}
            <div class="col-1 px-0 my-auto">
              <h5 class="text-center">{{dataValues.noOfVotes}} </span><img src="assets/sampleimg/upvote.png"
                  alt="upvote" height="25px" width="25px" style="background: transparent;">
              </h5>
            </div>
            {{!-- <!-- Caption --> --}}
            <div class="col-11 ml-auto">
              <div class="container mb-1 py-1 border rounded bg-dark">
                {{!-- <!-- Caption text --> --}}
                <p class="card-text mb-0 text-light">{{dataValues.text}}</p>
                {{!-- <!-- Caption Author --> --}}
                <p class="card-text mb-1 text-right"><small class="text-muted">Captioner: {{dataValues.author}} </small></p>
                
                
                


              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    {{!-- <!-- Right Column --> --}}
    <div class="col-2 border-left border-dark text-center px-2">
      {{!-- <!-- Recent posts div --> --}}
      <div class="mt-3">
        <h5>Top posts this week:</h5>
        <div id="recentPosts">
          {{!-- <!-- Image loop here --> --}}
          <div class="container mb-1 py-1 border rounded bg-dark">
            <img src="assets/sampleimg/funny.jpg" alt="recent" height="90%" width="90%">
          </div>
        </div>
      </div>
      {{!-- <!-- Recent caption votes div --> --}}
      <div class="mt-5 text-center">
        <h5>Captions you've upvoted:</h5>
        <div id="recentCaptions">
          {{!-- <!-- Captions loop here --> --}}
          <div class="container mb-1 py-1 border rounded bg-dark">
            <p class="card-text mb-0 text-left text-light">"I knew I should've worn pants today!"</p>
            <p class="card-text mb-1 text-right"><small class="text-muted">Captioner: Person1</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  {{!-- Typed this up while looking for ways to make posts clickable for user captions, a "clickable" id is added to the cards above
   --}}
  {{!-- <script>
    
      $('.clickable').click(function(){
        alert(this.id);
        console.log(this.id);
        if(this.id =! null){
          

          console.log("its not null");


    $.ajax({
        url: 'http://localhost:8080/newCaption',
        method: 'POST'
    })


        }
      });
    
  </script> --}}
