
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="contain">
        <h1>Add a caption to this post</h1>
        <form action="/uploadtitle" method="POST">
            <div class="file-field input-field">
              <div class="file-path-wrapper">
                <input name="title" id="title" type="text">
                <input name="image" id="image" type="text" value={{{data}}}>
              </div>
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
      <div class="card bg-dark text-light my-3 px-1 py-1 clickable" id="{{dataValues.id}}">
        {{!-- <!-- Image for the post - change the src to dataValues.image --> --}}
        <img src="{{{Posts.dataValues.image}}}" class="card-img-top" id="test" alt="fake">
        <div class="card-body">
          {{!-- <!-- Title of the post --> --}}
          <h5 class="card-title">{{Posts.title}}</h5>
          <h6 class="card-title"><i>Posted by: {{Posts.author}}</i></h6>
          </div>
          </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

